altair
pandas
streamlit
seaborn
matplotlib
plotly.express
import xgboost
sklearn
sklearn.model_selection 
train_test_split 
sklearn.metrics 
accuracy_score
sklearn.model_selection 
RandomizedSearchCV
GridSearchCV
sklearn.preprocessing 
OneHotEncoder
sklearn.preprocessing
LabelEncoder
sklearn.metrics
classification_report
